{% from "_navbar.html" import navbar with context %}
{% from "_render_field.html" import render_field with context %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Moon Tracker</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <style type="text/css">
            .table {
            }
            .table-row {
                display: flex;
                flex-direction: row;
            }
            .table-col {
                margin-left: 0;
                margin-right: 0;
            }
            .table-header {
                font-weight: bold;
            }
            .last-prices-col-0-3 {
                width: 20%;
            }
            .last-prices-col-1-3 {
                width: 20%;
            }
            .last-prices-col-2-3 {
                width: 50%;
            }
            .last-prices-flash-update {
                background-color: #FFFFE0;
            }
        </style>
    </head>

    <body>
        <div class="container">
            {{ navbar() }}
            <div id="last-prices">
            </div>
            <div class="form-group">
                <form method=post>
                    <dl>
                        <dt>
                            {{ form.phone_number.label }}
                        </dt>
                        <dd>
                            {{ render_field(form.phone_number) }}
                        </dd>
                        <dt>
                            {{ form.asset.label }}
                        </dt>
                        <dd>
                            {{ render_field(form.asset) }}
                        </dd>
                        <dt>
                            {{ form.target_price.label }}
                        </dt>
                        <dd>
                            <div class="row">
                                <div class="col-xs-12 col-md-2">
                                   {{ render_field(form.less_more) }} 
                                </div>
                                <div class="col-xs-12 col-md-10">
                                    {{ render_field(form.target_price) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    {{form.recaptcha}}
                    {% for error in form.recaptcha.errors %}
                    <ul>
                        <li style="color:red;">{{error}}</li>
                        {% endfor %}
                    </ul>
                    <input type=submit class="btn btn-primary" value=Submit>
                </form>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes style="list-style: none; padding: 0;">
                    {% for message in messages %}
                        <li class="alert alert-info">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js" type="text/javascript"></script>
        <script type="text/javascript">
            $.widget("custom.combobox", {
                _create: function() {
                    this.wrapper = $("<span>")
                        .addClass("custom-combobox")
                        .insertAfter(this.element);
     
                    this.element.hide();
                    this._createAutocomplete();
                    this._createShowAllButton();
                },
     
                _createAutocomplete: function() {
                    var selected = this.element.children(":selected"),
                        value = selected.val() ? selected.text() : "";
     
                    this.input = $("<input>")
                        .appendTo(this.wrapper)
                        .val(value)
                        .attr("title", "")
                        .addClass("custom-combobox-input form-control")
                        .autocomplete({
                            delay: 0,
                            minLength: 0,
                            source: $.proxy(this, "_source")
                        })
                        .tooltip();
     
                    this._on(this.input, {
                        autocompleteselect: function(event, ui) {
                            ui.item.option.selected = true;
                            this._trigger("select", event, {
                                item: ui.item.option
                            });
                        },
     
                        autocompletechange: "_removeIfInvalid"
                    });
                },
     
                _createShowAllButton: function() {
                    var input = this.input,
                        wasOpen = false;
     
                    $("<a>")
                        .attr("tabIndex", -1)
                        .attr("title", "Show All Items")
                        .tooltip()
                        .appendTo(this.wrapper)
                        .button({
                            icons: {
                                primary: "ui-icon-triangle-1-s"
                            },
                            text: false
                        })
                        .addClass("custom-combobox-toggle")
                        .on("mousedown", function() {
                            wasOpen = input.autocomplete("widget").is(":visible");
                        })
                        .on("click", function() {
                            input.trigger("focus");
     
                            // Close if already visible
                            if (wasOpen) {
                                return;
                            }
     
                            // Pass empty string as value to search for, displaying all results
                            input.autocomplete("search", "");
                        });
                },
     
                _source: function(request, response) {
                    var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                    response(this.element.children("option").map(function() {
                        var text = $(this).text();
                        if (this.value && (!request.term || matcher.test(text)))
                            return {
                                label: text,
                                value: text,
                                option: this
                            };
                    }));
                },
     
                _removeIfInvalid: function(event, ui) {
                    // Selected an item, nothing to do
                    if (ui.item) {
                        return;
                    }
     
                    // Search for a match (case-insensitive)
                    var value = this.input.val(),
                        valueLowerCase = value.toLowerCase(),
                        valid = false;
                    this.element.children("option").each(function() {
                        if ($(this).text().toLowerCase() === valueLowerCase) {
                            this.selected = valid = true;
                            return false;
                        }
                    });
     
                    // Found a match, nothing to do
                    if (valid) {
                        return;
                    }
     
                    // Remove invalid value
                    this.input
                        .val("")
                        .attr("title", value + " didn't match any item")
                        .tooltip("open");
                    this.element.val("");
                    this._delay(function() {
                        this.input.tooltip("close").attr("title", "");
                    }, 2500);
                    this.input.autocomplete("instance").term = "";
                },
     
                _destroy: function() {
                    this.wrapper.remove();
                    this.element.show();
                }
            });
            $("#asset").combobox();
        </script>
        <script type="text/javascript">
            var lplSocket = io.connect('/lastpriceslive');
            lplSocket.on('json', function (lastPricesStr) {
                var lastPricesTableElem = $('#last-prices-table');
                if (lastPricesTableElem.length == 0) {
                    var lastPricesElem = $('#last-prices');
                    lastPricesElem.append($('<h4>').text('Last Prices'));
                    var tableCElem = $('<div id="last-prices-table" class="table">');
                    var headerCElem = $('<div class="table-header table-row">');
                    headerCElem.append($('<div class="table-col last-prices-col-0-3">').text('Coin'));
                    headerCElem.append($('<div class="table-col last-prices-col-1-3">').text('Price'));
                    headerCElem.append($('<div class="table-col last-prices-col-2-3">').text('Timestamp'));
                    tableCElem.append(headerCElem);
                    lastPricesElem.append(tableCElem);
                    lastPricesTableElem = lastPricesElem.find('#last-prices-table');
                }

                var lastPrices = JSON.parse(lastPricesStr);
                $.each(lastPrices, function (index, lastPrice) {
                    var rowFound = false;
                    lastPricesTableElem.find('.table-row').each(function (index, rowElem) {
                        var rowSymbol = $(rowElem).find('.last-prices-col-symbol').text();
                        if (lastPrice.symbol == rowSymbol) {
                            var rowPriceElem = $(rowElem).find('.last-prices-col-price');
                            var oldPriceText = rowPriceElem.text();
                            rowPriceElem.text(lastPrice.price);
                            var rowTimestampElem = $(rowElem).find('.last-prices-col-timestamp');
                            var dt = new Date();
                            dt.setUTCSeconds(lastPrice.timestamp)
                            rowTimestampElem.text(dt);
                            if (rowPriceElem.text() !== oldPriceText) {
                                rowPriceElem.addClass('last-prices-flash-update', 0);
                                rowPriceElem.removeClass('last-prices-flash-update', 800);
                            }
                            rowFound = true;
                            return false;
                        }
                    });
                    if (!rowFound) {
                        var rowCElem = $('<div class="table-row">');
                        rowCElem.append($('<div class="table-col last-prices-col-0-3 last-prices-col-symbol">').text(lastPrice.symbol));
                        rowCElem.append($('<div class="table-col last-prices-col-1-3 last-prices-col-price">').text(lastPrice.price));
                        var dt = new Date();
                        dt.setUTCSeconds(lastPrice.timestamp);
                        rowCElem.append($('<div class="table-col last-prices-col-2-3 last-prices-col-timestamp">').text(dt));
                        lastPricesTableElem.append(rowCElem);
                    }
                });
            });
        </script>
    </body>
</html>
