{% from "_navbar.html" import navbar with context %}
{% from "_render_field.html" import render_field with context %}
{% from "_messages.html" import messages with context %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Log In | Moon Tracker</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

	<body>
		<div class="container">
            {{ navbar() }}

            {% for alert in alerts %}
            	<div class="row">
		            <div class="col-9 col-md-10">
		                <div><b>Asset:</b> <span class="text-muted">{{ alert.asset }}</span></div>

		                <div><b>Target Price:</b> <span class="text-muted">{{ alert.above }} ${{ alert.target_price }}</span></div>

		                <div><b>Phone Number(s):</b> <span class="text-muted">{{ alert.phone_number }}</span></div>
		            </div>
	    			<!-- replace with edit image -->
	    			<div class="col-3 col-md-2">
	    				<form name="editButton" method="post">
	    					{% set index=loop.index %}
	    					<button type="button" name="edit" value=index class="btn btn-default" data-toggle="modal" data-target="#alertModal">Edit</button>
	    				</form>
	    			</div>
	    		</div>
    			<br/>
    			<hr/>
    			<br/>
            {% endfor %}

            <div class="modal fade" id="alertModal" role="dialog">
	    			<div class="modal-dialog">
	    				<div class="modal-content">
	    					<div class="modal-header">
	    						<button type="button" class="close" data-dismiss="modal">&times;</button>
	    					</div>
	    					<div class="modal-body">
	    						<div class="form-group">
									<form method="post">
										<dl>
									        <dt>{{ form.asset.label }}</dt>
									        <dd>{{ render_field(form.asset) }}</dd>

									        <dt>{{ form.target_price.label }}</dt>
									        <dd>
									            <div class="row">
									                <div class="col-xs-12 col-md-3">
									                   {{ render_field(form.less_more) }}
									                </div>
									                <div class="col-xs-12 col-md-9">
									                    {{ render_field(form.target_price) }}
									                </div>
									            </div>
									        </dd>

									        <dt>{{ form.phone_number.label }}</dt>
									        <dd>{{ render_field(form.phone_number) }}</dd>
										</dl>
										<input type="submit" name="submit" value="Cancel" class="btn btn-secondary" data-dismiss="modal"/>
			    						<input type="submit" name="submit" value="Delete" class="btn btn-danger"/>
			    						<input type="submit" name="submit" value="Save Changes" class="btn btn-primary"/>
									</form>
								</div>
								{{ messages() }}
	    					</div>
	    					<!-- <div class="modal-footer">
	    						<form method="post">
		    						<input name="submit" value="Cancel" class="btn btn-secondary" data-dismiss="modal"/>
		    						<input name="submit" value="Delete" class="btn btn-danger"/>
		    						<input name="submit" value="Save Changes" class="btn btn-primary"/>
		    					</form>
	    					</div> -->
	    				</div>
	    			</div>
	    		</div>
		</div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>