.table {
}
.table-row {
    display: flex;
    flex-direction: row;
}
.table-col {
    margin-left: 0;
    margin-right: 0;
}
.table-header {
    font-weight: bold;
}
.last-prices-col-0-3 {
    width: 20%;
}
.last-prices-col-1-3 {
    width: 20%;
}
.last-prices-col-2-3 {
    width: 50%;
}
.last-prices-col-0-2 {
    width: 60%;
}
.last-prices-col-1-2 {
    width: 40%;
}
.last-prices-flash-update {
    background-color: #FFFFE0;
}
