<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Moon Tracker</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="page-header">
                <h1>MoonTracker</h1>
            </div>
            <div class="form-group">
                {% macro render_field(field) %}
                    {{ field(class="form-control", **kwargs)|safe }}
                    {% if field.errors %}
                        <ul>
                        {% for error in field.errors %}
                            <li class="alert alert-danger">{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endmacro %}
                <form method=post>
                    <dl>
                        <dt>
                            {{ form.phone_number.label }}
                        </dt>
                        <dd>
                            {{ render_field(form.phone_number) }}
                        </dd>
                        <dt>
                            {{ form.market.label }}
                        </dt>
                        <dd>
                            {{ render_field(form.market) }}
                        </dd>
                        <dt>
                            {{ form.product.label }}
                        </dt>
                        <dd>
                            {{ render_field(form.product, disabled=(form.market.data == '')) }}
                        </dd>
                        <dt>
                            {{ form.target_price.label }}
                        </dt>
                        <dd>
                            <div class="row">
                                <div class="col-2">
                                   {{ render_field(form.less_more) }} 
                                </div>
                                <div class="col-10">
                                    {{ render_field(form.target_price) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <input type=submit class="btn btn-primary" value=Submit>
                </form>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li class="alert alert-info">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $('#market').on('change', function (event) {
                markets = {{ markets_json|safe }};
                products = {{ products_json|safe }};
                var productElem = $('#product');
                if (event.target.value !== '') {
                    productElem.prop('disabled', false);
                    productElem.empty();
                    productElem.append($("<option />").val('').text(''));
                    market_products = markets[event.target.value].products
                    $.each(market_products, function (index, product) {
                        productElem.append($("<option />").val(product).text(products[product].name));
                    });
                } else {
                    productElem.prop('disabled', true);
                }
            });

        </script>
    </body>
</html>
